body{
    background-color: grey;
    width: 100%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ab{
    display: flex;
  width: 100%;

}
.box1{
    border: 2px solid black;
    flex: 1;
    width: 33%;

    
}
.boxz{
    border: 2px solid black;
    width:  34%;
}
.abc{
    display: flex;
    height: 800px;
    border: 2px solid;
    width: 100%;
}
.box2{
    width: 33%;
    border: 2px solid;

}
.box3{
       width: 34%;
       background-color: black;
}
.box4{
    width: 33%;
    border: 2px solid;
}
.nytext{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
    margin: 6px 6px 0 6px;
}
.p1{
    font-size: 32px;
    color: azure;
    margin: 5px 6px 0 6px;
    background-color: black;
}
.h2m{
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    margin: 7px;
}
.manhattan{
    width: 100%;
    display: flex;
}
.boxa1{
    width: 25%;
    margin-left: 5px;
    border: 2px solid;
}
.boxa{
    width: 25%;
    border: 2px solid;
}
.boxb{
    width: 25%;
    margin-right: 5px;
    border: 2px solid;
}
.linka{
    font-size: 50px;
    color: white;
    
}
.p2{
    text-align: center;
}
